.titleText{
	font-size: 20px;
	font-family:Montserrat, Ubuntu, 'Source Sans Pro' ;
	font-weight: bold ;
	letter-spacing: 1px;
	color: #555 ;
	padding: 18px;	
	display: block;
}
div.tab_title{
	/*padding: 12px;*/
	/*border-bottom: 1px solid rgba(0,0,0,0.09);*/
}
.head-text{
	text-align: center ;
	color: #333;
}
.largeText{
	font-size: 120%;
	padding: 10px ;
	border:1px solid rgba(0,0,0,0.1);
	background: white;
	margin: 10px auto;
	width: 95%;
	display: block;
	text-align: center;
	font-weight: bold ;
	color: #555;
	letter-spacing: 1px;
}
.normalText{
	/*font-weight: bold ;*/
	color: #333;
	/*font-family: Tahoma ;*/
	font-size: 110% ;
	letter-spacing: 1px ;
}
.links{
	font-weight: bold ;
}
div.icon_texts{
	/*font-size: 110% ;*/
	word-break: break-word ;
	/*color: #333 ;*/
	flex: 1;
	text-align: center;
}
div.icon_texts a, .links{
	font-size: 80%;
	font-weight: bold ;
	color: #555 ;
	text-decoration: none;
	letter-spacing: 1px ;	
}
/*.links*/
div.icon_texts a{
	display: grid ;
	grid-template-columns: 35px auto ;
	grid-gap: 15px;
	/*margin-bottom: 2px;*/
	padding: 6px 0px;
	/*background: rgba(0,0,0,0.08) ;*/
	/*border: 1px solid rgba(0,0,0,0.08);*/
	border: 1px solid rgba(1, 1, 1, 0);
	border-right: 0px ;
	border-left: 0px;	
	display: block;
	/*box-sizing: border-box;*/
}
div.icon_texts a:hover, .links:hover{
	background: rgb(149, 193, 255);
	/*border-radius: 5px ;*/
	/*box-shadow: 0px 0px 5px 1px rgb(128, 170, 228) inset ;*/
	color: white;
}
div.icon_texts a:active{
	background: white;
	border: 1px solid #ccc;
	border-right: 0px ;
	border-left: 0px;
}
div.it_text{
	display: flex ;
	align-items: center ;
	display: none ;
}
div.it_icon{
	/*text-align: right ;*/
}
div.it_icon i{
	font-size: 23px !important;
}
.mv10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.mv5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.mv15{
	margin-top: 15px;
	margin-bottom: 15px;	
}
.mv25{
	margin-top: 25px;
	margin-bottom: 25px;	
}
