@media(max-width: 770px){
	div.cont{
		padding: 0px 10px;
	}
	div.gridCont{
		display: grid ;
		grid-template-columns: auto;
		/*grid-template-areas: "top top" "left right" "bottom bottom" ;*/
		grid-template-areas: "left left" "right right" "bottom bottom" ;
		grid-gap: 10px ;
	}
/*	div.buttons{
		display: none ;
	}*/
	div.skill{
		width: 100% ;
		grid-template-columns: 100px auto 40px ;
		grid-gap: 5px;
	}
/*	div.skill_name{
		text-align: right;
		font-weight: bold ;
		font-family: Consolas ;
	}
	div.percent_text{
		font-family: Consolas ;
		font-weight: bold ;
	}*/
}

/**{
	border: 1px solid red ;
}*/

